#:schema node_modules/wrangler/config-schema.json

# For more details on how to configure Wrangler, refer to:
# https://developers.cloudflare.com/workers/wrangler/configuration/

name = "katasu-me"
main = "@tanstack/react-start/server-entry"
compatibility_date = "2025-09-02"
compatibility_flags = ["nodejs_compat_v2", "global_fetch_strictly_public"]
workers_dev = false
preview_urls = false

[observability]
enabled = true

# Smart Placement
# Docs: https://developers.cloudflare.com/workers/configuration/smart-placement/#smart-placement
[placement]
mode = "smart"

# Route
[route]
pattern = "katasu.me"
custom_domain = true

# Bindings
# Bindings allow your Worker to interact with resources on the Cloudflare Developer Platform, including
# databases, object storage, AI inference, real-time communication and more.
# https://developers.cloudflare.com/workers/runtime-apis/bindings/

[[ratelimits]]
name = "ACTIONS_RATE_LIMITER"
namespace_id = "1001"
[ratelimits.simple]
limit = 60
period = 60

[[kv_namespaces]]
binding = "CACHE_KV"
id = "<PRODUCTION_CACHE_KV_ID>"

[[d1_databases]]
binding = "DB"
database_name = "katasu-me"
database_id = "<PRODUCTION_DATABASE_ID>"
migrations_dir = "../../packages/service-db/src/migrations"

[[r2_buckets]]
binding = "IMAGES_R2_BUCKET"
bucket_name = "katasu-me-prod-images"

[[r2_buckets]]
binding = "TEMP_R2_BUCKET"
bucket_name = "katasu-me-prod-temp"

# Queues
# https://developers.cloudflare.com/queues/
[[queues.producers]]
binding = "MODERATION_QUEUE"
queue = "katasu-me-moderation"

# Environment Variables
# https://developers.cloudflare.com/workers/wrangler/configuration/#environment-variables
[vars]
BETTER_AUTH_TELEMETRY = "0"
BETTER_AUTH_URL = "<PRODUCTION_URL>"
