#:schema node_modules/wrangler/config-schema.json

# For more details on how to configure Wrangler, refer to:
# https://developers.cloudflare.com/workers/wrangler/configuration/

name = "katasu-me-dev"
main = "@tanstack/react-start/server-entry"
compatibility_date = "2025-09-02"
compatibility_flags = ["nodejs_compat_v2", "global_fetch_strictly_public"]

[observability]
enabled = true

# Smart Placement
# Docs: https://developers.cloudflare.com/workers/configuration/smart-placement/#smart-placement
[placement]
mode = "smart"

# Bindings
# Bindings allow your Worker to interact with resources on the Cloudflare Developer Platform, including
# databases, object storage, AI inference, real-time communication and more.
# https://developers.cloudflare.com/workers/runtime-apis/bindings/

[[ratelimits]]
name = "ACTIONS_RATE_LIMITER"
namespace_id = "1001"
[ratelimits.simple]
limit = 60
period = 60

[[kv_namespaces]]
binding = "CACHE_KV"
id = "<DEVELOPMENT_CACHE_KV_ID>"

[[d1_databases]]
binding = "DB"
database_name = "katasu-me-dev"
database_id = "<DEVELOPMENT_DATABASE_ID>"
migrations_dir = "../../packages/service-db/src/migrations"

[[r2_buckets]]
binding = "IMAGES_R2_BUCKET"
bucket_name = "katasu-me-dev-images"

# Environment Variables
# https://developers.cloudflare.com/workers/wrangler/configuration/#environment-variables
[vars]
BETTER_AUTH_TELEMETRY = "0"
BETTER_AUTH_URL = "<DEVELOPMENT_URL>"
