@import "tailwindcss";

@theme {
  --color-warm-black: rgba(72, 48, 48, 1);
  --color-warm-black-25: rgb(223, 215, 215);
  --color-warm-black-50: rgb(163, 150, 150);
  --color-warm-white: rgba(254, 251, 251, 1);
  --color-peach-foam: rgba(245, 231, 228, 1);

  --font-ibm-plex-sans-jp: var(--font-ibm-plex-sans-jp), sans-serif;

  --ease-magnetic: cubic-bezier(0.16, 1, 0.3, 1);
}
