@import "tailwindcss";

@theme {
  /** 色 */
  --color-warm-black: rgba(72, 48, 48, 1);
  --color-warm-black-10: rgb(242, 240, 240);
  --color-warm-black-25: rgb(223, 215, 215);
  --color-warm-black-50: rgb(163, 150, 150);
  --color-warm-white: rgba(254, 251, 251, 1);
  --color-peach-foam: rgba(245, 231, 228, 1);

  /** フォント */
  --font-ibm-plex-sans-jp: var(--font-ibm-plex-sans-jp), sans-serif;

  /** イージング */
  --ease-magnetic: cubic-bezier(0.16, 1, 0.3, 1);

  /**
   * 左右に2.5remの余白を持つレイアウト
   */
  --grid-main-layout: 1fr min(768px, 100% - 2.5rem) 1fr;

  /** ブレークポイント */
  --breakpoint-pc: 768px;
}

/** 共通インタラクティブスタイル */
.interactive-base {
  transition: all 400ms var(--ease-magnetic);
}

.interactive-scale {
  transition: all 400ms var(--ease-magnetic);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.interactive-scale-sm {
  transition: all 400ms var(--ease-magnetic);

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}

.interactive-scale-brightness {
  transition: all 400ms var(--ease-magnetic);

  &:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
  }

  &:active {
    transform: scale(0.95);
  }
}
