.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-warm-white);
  padding: 6px;
  border-radius: 999px;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
