@import "tailwindcss";
@import "@fontsource/ibm-plex-sans-jp/400.css";
@import "@fontsource/ibm-plex-sans-jp/700.css";
@import "@fontsource-variable/reddit-sans";

@theme {
  /** 色 */
  --color-warm-black: rgb(72, 48, 48);
  --color-warm-black-10: rgb(242, 240, 240);
  --color-warm-black-25: rgb(223, 215, 215);
  --color-warm-black-50: rgb(163, 150, 150);
  --color-warm-white: rgb(254, 251, 251);
  --color-warm-green: rgb(115, 134, 45);
  --color-vivid-yellow: rgb(255, 218, 11);
  --color-vivid-red: rgb(255, 52, 11);

  /** z-index */
  --z-index-overlay: 1;
  --z-index-dropdown: 50;
  --z-index-floating: calc(infinity);

  /** イージング */
  --ease-magnetic: cubic-bezier(0.16, 1, 0.3, 1);

  /**
   * 左右に2.5remの余白を持つレイアウト
   */
  --grid-main-layout: 1fr min(768px, 100% - 2.5rem) 1fr;

  /** ブレークポイント */
  --breakpoint-pc: 768px;
}

/** 共通インタラクティブスタイル */
.interactive-base {
  transition: all 400ms var(--ease-magnetic);
}

.interactive-scale {
  transition: all 400ms var(--ease-magnetic);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

body {
  font-family: "Reddit Sans Variable", "IBM Plex Sans JP", BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ドットのパターン */
  background-image: radial-gradient(var(--color-warm-black-10) 1px, transparent 1px);
  background-size: 16px 16px;
}

.interactive-scale-sm {
  transition: all 400ms var(--ease-magnetic);

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}

.interactive-scale-brightness {
  transition: all 400ms var(--ease-magnetic);

  &:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
  }

  &:active {
    transform: scale(0.95);
  }
}
