permissions:
  contents: read
name: Build Check

on:
  push:
    branches-ignore: [main, gh-pages]

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Setup Wrangler Config
        uses: ./.github/actions/setup-wrangler-config

      - name: Build
        run: pnpm build
