permissions:
  contents: read
name: サービスのアプリケーションをデプロイ

on:
  push:
    branches:
      - develop
      - main
    paths:
      - "apps/service/**"
      - "packages/**"
      - "pnpm-lock.yaml"
      - ".github/workflows/deploy-service.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Setup Wrangler Config
        uses: ./.github/actions/setup-wrangler-config

      - name: Cache build
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.turbo
          key: ${{ runner.os }}-turbo-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-turbo-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Develop Build
        if: github.ref == 'refs/heads/develop'
        run: pnpm build
        env:
          VITE_SITE_URL: ${{ vars.DEVELOPMENT_URL }}
          VITE_IMAGE_R2_URL: ${{ vars.DEVELOPMENT_VITE_IMAGE_R2_URL }}

      - name: Deploy to development environment
        if: github.ref == 'refs/heads/develop'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
          workingDirectory: apps/service

      - name: Production Build
        if: github.ref == 'refs/heads/main'
        run: pnpm build
        env:
          VITE_SITE_URL: ${{ vars.PRODUCTION_URL }}
          VITE_IMAGE_R2_URL: ${{ vars.PRODUCTION_VITE_IMAGE_R2_URL }}

      - name: Deploy to production environment
        if: github.ref == 'refs/heads/main'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --env production
          workingDirectory: apps/service
