permissions:
  contents: read
name: サービスのアプリケーションをデプロイ

on:
  push:
    branches:
      - develop
      - main
    paths:
      - "apps/service/**"
      - "packages/**"
      - "pnpm-lock.yaml"
      - ".github/workflows/deploy-service.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Create wrangler.toml for development
        if: github.ref == 'refs/heads/develop'
        run: |
          cd apps/service
          cp wrangler.develop.toml wrangler.toml

          sed -i "s|<DEVELOPMENT_URL>|${{ vars.DEVELOPMENT_URL }}|g" wrangler.toml
          sed -i "s|<DEVELOPMENT_DATABASE_ID>|${{ secrets.DEVELOPMENT_DATABASE_ID }}|g" wrangler.toml
          sed -i "s|<DEVELOPMENT_CACHE_KV_ID>|${{ secrets.DEVELOPMENT_CACHE_KV_ID }}|g" wrangler.toml

          echo "wrangler.toml created for development"

      - name: Create wrangler.toml for production
        if: github.ref == 'refs/heads/main'
        run: |
          cd apps/service
          cp wrangler.production.toml wrangler.toml

          sed -i "s|<PRODUCTION_URL>|${{ vars.PRODUCTION_URL }}|g" wrangler.toml
          sed -i "s|<PRODUCTION_DATABASE_ID>|${{ secrets.PRODUCTION_DATABASE_ID }}|g" wrangler.toml
          sed -i "s|<PRODUCTION_CACHE_KV_ID>|${{ secrets.PRODUCTION_CACHE_KV_ID }}|g" wrangler.toml

          echo "wrangler.toml created for production"

      - name: Cache build
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.turbo
          key: ${{ runner.os }}-turbo-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-turbo-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Build for development
        if: github.ref == 'refs/heads/develop'
        run: pnpm build
        env:
          VITE_SITE_URL: ${{ vars.DEVELOPMENT_URL }}
          VITE_IMAGE_R2_URL: ${{ vars.DEVELOPMENT_VITE_IMAGE_R2_URL }}
          VITE_REPORT_IMAGE_TILLY_EMBED_ID: ${{ vars.DEVELOPMENT_VITE_REPORT_IMAGE_TILLY_EMBED_ID }}
          VITE_REPORT_USER_TILLY_EMBED_ID: ${{ vars.DEVELOPMENT_VITE_REPORT_USER_TILLY_EMBED_ID }}

      - name: Build for production
        if: github.ref == 'refs/heads/main'
        run: pnpm build
        env:
          VITE_SITE_URL: ${{ vars.PRODUCTION_URL }}
          VITE_IMAGE_R2_URL: ${{ vars.PRODUCTION_VITE_IMAGE_R2_URL }}
          VITE_REPORT_IMAGE_TILLY_EMBED_ID: ${{ vars.PRODUCTION_VITE_REPORT_IMAGE_TILLY_EMBED_ID }}
          VITE_REPORT_USER_TILLY_EMBED_ID: ${{ vars.PRODUCTION_VITE_REPORT_USER_TILLY_EMBED_ID }}
          VITE_UMAMI_SCRIPT_URL: ${{ vars.VITE_UMAMI_SCRIPT_URL }}
          VITE_UMAMI_WEBSITE_ID: ${{ vars.VITE_UMAMI_WEBSITE_ID }}

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
          workingDirectory: apps/service
